{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
    <link rel="stylesheet" href=
            "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/fantastico_group_icon.jpg' %}">
    <title>Ticket System </title>

</head>

<body style="background-image: url({% static 'images/back_fantastico.png' %});">
{% include 'base/partials/nav.html' %}
{% include 'base/messages.html' %}

{% block content %}
{% endblock %}

<footer class="footer">
    ©Fantastico Group OOD 2022
</footer>

</body>
</html>