{% extends "base/base.html" %}
{% block content %}

<div class="card d-flex justify-content-center mt-5" style="width: 800px;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete news</h1>

        <p class="h5">Are you sure you want to delete the news:</p>
        <h3 class="my-5" style="text-decoration-line: underline">{{ news.title }}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'news_list_all' %}'; return false;" value="Cancel">
        </form>
        <br>
    </div>
</div>

{% endblock %}