{% extends 'base/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container" style="padding-bottom: 40px">
            {% if object_list %}
                <h1 style="text-align: center; margin-top: 70px; margin-bottom: 0">News</h1>
                {% for news in object_list %}
                    {#            TODO: make styling in css!#}
                    <div class="container-sm wrapper" style="max-width: 999px">
                        <p style="text-align: center; font-weight: bold">
                            {% if not news.is_private %}
                                <i>PUBLIC</i> <br>
                            {% endif %}

                            <a style="color: black; text-decoration: none"
                               href="{% url 'news_details' news.pk %}">{{ news.title }}
                            </a>
                        </p>
                        <hr>
                        <p> {{ news.content }}</p>
                        <hr>
                        <p style="font-size: 14px; text-align-last: right; font-weight: bold">
                            {{ news.created_at|date:'Y-M-d H:i' }}
                            Created by: {{ news.created_by }}</p>
                        <hr>
                        <div class="image">
                            {% if news.news_photos %}
                                <img src="{{ news.news_photos.url }}" alt="news{{ news.id }}" width="500px"
                                     style="display: flex">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        </div>

    {% else %}

    {% endif %}

    {% include 'base/paginator.html' %}

{% endblock %}